* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_container {
  display: grid;
  grid-template: 1fr 10fr / 2fr 10fr;
  gap: 1rem;
}

.leftnav{
  background-color: bisque;
}

.content {
  background-color: antiquewhite;
}

.header {
  background-color: blanchedalmond;
}


